.xrButtonContainer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  z-index: calc(infinity);
}

.xrButton {
  font-size: 3rem;
  padding: 20px 50px;

  background-color: aliceblue;

  border: none;
  border-radius: 10px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.xrButton:hover {
  background-color: lightblue;
}
